In [13]:
import datetime
import time
import os
from time import mktime as mktime

In [2]:
# 今日の日付を取得
today = datetime.date.today()
print(today)
# 昨日の日付を取得
yesterday = today - datetime.timedelta(days = 1)
print(yesterday)

2021-04-07
2021-04-06

In [3]:
# 日付の型と時刻の型を組み合わせる
# 今日
today = datetime.datetime.combine(today, datetime.time(0, 0, 0))
print(today)
# 昨日
yesterday = datetime.datetime.combine(today - datetime.timedelta(days = 1), datetime.time(0, 0, 0))
print(yesterday)

2021-04-07 00:00:00
2021-04-06 00:00:00

In [4]:
# UTCに変換
t_timestamp =  time.mktime(today.timetuple())
print(int(t_timestamp))

y_timestamp = time.mktime(yesterday.timetuple())
print(int(y_timestamp)) # return

1617721200
1617634800

In [5]:
from_ts = int(t_timestamp)

to_ts = from_ts + (60 * 60 * 24) - 1
print(to_ts)

1617807599

In [6]:
# 前日の 00:00:00 〜 23:59:59 までを指定
print('Timestamp: from_ts %s, to_ts %s' % (from_ts, to_ts))

# 一様datetimeで確認
f_dt = datetime.datetime.fromtimestamp(from_ts)
print(f_dt)
t_dt = datetime.datetime.fromtimestamp(to_ts)
print(t_dt)

Timestamp: from_ts 1617721200, to_ts 1617807599
2021-04-07 00:00:00
2021-04-07 23:59:59

In [7]:
today_s = datetime.datetime.combine(today, datetime.time(0, 0, 0))
print(today_s)
start = time.mktime(today.timetuple())
print(int(start))

2021-04-07 00:00:00
1617721200

In [8]:
end = start + (60 * 60 * 24) - 1
print(end)
today_e= datetime.datetime.fromtimestamp(end)
print(today_e)

1617807599.0
2021-04-07 23:59:59

In [9]:
created_0 = datetime.datetime.fromtimestamp(int(str(1617470666457)[:10]))
print(created_0)
## 1617470666457

2021-04-04 02:24:26

In [10]:
created_1 = datetime.datetime.fromtimestamp(int(str(1617470666)))
print(created_1)

2021-04-04 02:24:26

In [11]:
time = 1617470666457
created = datetime.datetime.fromtimestamp(int(str(time)[:10]))
print(created)

time = 1617470667426
created = datetime.datetime.fromtimestamp(int(str(time)[:10]))
print(created)

time = 1617566624780
created = datetime.datetime.fromtimestamp(int(str(time)[:10]))
print(created)

time = 1617567441470
created = datetime.datetime.fromtimestamp(int(str(time)[:10]))
print(created)

2021-04-04 02:24:26
2021-04-04 02:24:27
2021-04-05 05:03:44
2021-04-05 05:17:21

In [14]:
today = datetime.date.today()
yesterday = datetime.datetime.combine(today - datetime.timedelta(days = 1), datetime.time(0, 0, 0))
print(type(yesterday))
timestamp = time.mktime(yesterday.timetuple())
print(type(timestamp))
print(int(timestamp))

<class 'datetime.datetime'>
<class 'float'>
1617634800

In [15]:
# 1617548400
today = datetime.datetime.combine(today, datetime.time(0, 0, 0))
t_timestamp =  time.mktime(today.timetuple())
print(t_timestamp)
# 2021-04-05 00:00:00
start = datetime.datetime.fromtimestamp(int(t_timestamp))
print(start)    
########################
# 1617634799
from_ts = int(t_timestamp)
to_ts = from_ts + (60 * 60 * 24) - 1
print(to_ts)
### 2021-04-05 23:59:59
end = datetime.datetime.fromtimestamp(to_ts)
print(end)

1617721200.0
2021-04-07 00:00:00
1617807599
2021-04-07 23:59:59